POSTGRES_DB=active_leisure
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1029
DB_URL=jdbc:postgresql://localhost:5432/active_leisure
DB_USERNAME=postgres
DB_PASSWORD=1029
JWT_SECRET=diplom-active-leisure-secret-key-change-in-production
JWT_EXPIRATION_MS=86400000
SERVER_PORT=8080
